body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 4.5rem;
    line-height: 1.5;
    font-weight: 700;
}

#title {
    background-color: #FFADAD;
    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}


/* navbar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5rem;
}


.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
}


/* btn download */

.btn-download {
    margin: 5% 3% 0;
}

.image-title {
    width: 60%;
    transform: rotate(20deg);
}


/* features */

#features {
    text-align: center;
    font-size: 4rem;
    margin-top: 100px;
    margin-bottom: 100px;
}

.easy-to-use {
    margin-bottom: 100px;
}

.elite-clientel {
    margin-bottom: 100px;
}

.guaranteed-work {
    margin-bottom: 100px;
}

/* coloring icon */

.icon-fa-check-circle {
    color: #77D970;
}

.icon-fa-bullseye {
    color: #77D970;
}

.icon-fa-heart {
    color: #77D970;
}

/* hoverig each icon */

.icon-fa-check-circle:hover {
    color: #FF0000;
}

.icon-fa-bullseye:hover {
    color: #FF0000;
}

.icon-fa-heart:hover {
    color: #FF0000;
}


#features h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

#features p {
    font-size: 1.5rem;
    width: 60%;
    margin: auto;
}


/* testimonials */

#testimonials {
    background-color: #FDEBF7;
    text-align: center;
    padding:7% 20%;

}

#testimonials h2 {
    line-height: 1.5;
    font-size: 60px;
    font-weight: bold;
}


#testimonials img {
    width: 15%;
    border-radius: 360px;
    padding: 30px;
}


/* press */

#press {
    background-color: #FDEBF7;
    text-align: center;
    padding: 20px 40px 50px;
}

.press-logo {
    margin: 0px 20px;
    width: 15%;
}